@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    color: #666666;
    padding-top: 65px;
}


/* -----------------   Navigation   ----------------- */

.navbar {
    background-color: #ffff;
}

.navbar img {
    height: 50px;
    padding-left: 30px;
}

.navbar-nav li {
    padding: 0 5px;
    
}

.navbar-nav li a {
    float: none;
    text-align: center;
}

.navbar-light .navbar-nav .nav-item {
    color: #666666;
    padding-top: .8rem;
}

.navbar-light .navbar-nav .nav-cta  {
    color: #0393A7!important;
}


/* -----------------   Landing Page   ----------------- */
.home-inner {
    background-image: url(https://pixabay.com/images/id-3561062/);
}