@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    color: #666666;
    padding-top: 65px;
}


/* -----------------   Navigation   ----------------- */

.navbar {
    background-color: #fff;
}

.navbar img {
    height: 50px;
    padding-left: 30px;
}

.navbar-nav li {
    padding: 0 5px;
}

.navbar-nav li a {
    text-align: center;
}

.navbar-light .navbar-nav .nav-item {
    color: #666666;
    padding-top: .8rem;
}

.navbar-light .navbar-nav .nav-cta  {
    color: #fff!important;
    font-weight: bold;
}

.navbar .navbar-nav .btn-light {
    color: #fff!important;
    background-color: #0393A7!important;
    border-radius: .4rem;
}

.navbar .navbar-nav .btn-light:hover {
  background-color: #55D104!important; 
}

/* -----------------   Hero Section   ----------------- */
.jumbotron {
    background: url('images/hero_image.jpg') no-repeat center center fixed;
    padding-top: 17%;
    padding-bottom: 17%;
    background-size: 100% 100%;
    color: #fff!important;
    
}

   
.jumbotron .btn-lg {
    color: #fff!important;
    background-color: #0393A7!important;
    border: none;
}

.jumbotron .btn-lg:hover {
    background-color: #55D104!important;
    text-decoration: none;
}

/* -----------------   Welcome Section  ----------------- */

.welcome .btn-lg {
    color: #fff!important;
    background-color: #0393A7!important;
    border: none;
}

.welcome .btn-lg:hover {
  background-color: #55D104!important;
  text-decoration: none;

p.welcome {
    text-align: left;
}


/* -----------------   Services Section  ----------------- */



/* -----------------   Partners Section  ----------------- */